.questions {
    /* font-size: 14px; */
    color: var(--c-black);
}
.q-set1-pb11 {
    display: inline-flex;
    vertical-align: bottom;
    padding-bottom: 11px;
}
.q-set1-pb6 {
    display: inline-flex;
    vertical-align: bottom;
    padding-bottom: 6px;
}
.question-set {
    margin-top: 2rem;
    font-size: 1.35rem;
    font-weight: 600;
    color:#808080; 
    width:100%;
    max-width: none;
}
.question-group {
    font-size: .85rem;
    font-weight: bold;
    font-family: source-code-pro, monospace;
    width:100%;
    max-width: none;
}

/* grid layout */
.order1 { order: 1; border: 5px solid var(--c-blue) !important;}
.order2 { order: 2; }

/* override material-ui styles */
#section3 .MuiInputBase-input,
.questions .MuiFormLabel-root,
.questions .MuiInputBase-input,
.questions .MuiTypography-body1,
.MuiPaper-root .MuiMenuItem-root {
    color: var(--c-black);
    font-size: 1.125rem;
    font-family: source-sans-pro, Helvetica, Arial, sans-serif;
    transform: scale(1);
}
.questions .MuiInputBase-input {
    color: var(--c-blue);
}

/* switch */
.questions .MuiSwitch-root {
    height: 28px;
    padding: 7px 12px;
}
.js-set2Q .MuiButtonBase-root {
    padding: 4px 10px;
}
.questions .MuiTouchRipple-root {
    left: 5px;
    width: 75%;
}
.questions .Mui-checked {
    color: var(--c-blue) !important;
}
.questions .Mui-checked:hover {
    background-color: transparent !important; 
}
.questions .Mui-checked + .MuiSwitch-track {
    background-color: var(--c-blue) !important;  
}

/* textfield */
.questions .MuiFormControl-root {
    /* width: 67%; */
    margin-top: 1rem;
}
.MuiInputLabel-formControl {
    font-weight: 600!important;
}
.questions .MuiFormLabel-root.Mui-focused {
    color: var(--c-blue);  
}
.questions .MuiInput-underline:after {
    border-bottom: 2px solid var(--c-blue);  
}
.questions .MuiFormHelperText-root {
    margin-top: 3px;
}
#section3 .MuiFormControl-root {
    width: 620px;
}
#section3 .MuiInput-underline,
#section3 .MuiInput-underline:before {
    border: 0;
    /* border: 2px solid transparent !important; */
}
#section3 .MuiInput-underline:after {
    border-bottom: 2px solid var(--c-grey);  
}
.questions .MuiExpansionPanelSummary-content{
    color: rgba(0, 0, 0, 0.54);
    margin: 0;
    transform: scale(0.75) translate(-100px, 0);
}
/* select and menu*/
/* .questions .MuiTypography-root {
    white-space: nowrap;
} */
.MuiPaper-root .MuiMenuItem-root {
    min-height: 28px
}
