.charts > div {
  text-align: center;
  width: calc(320px - 22px); /* 10 (padding) * 2 + 2 (border)*/
  border: 1px solid #dcdcdc;
  display: inline-block;
  margin-right: -1px;
  margin-bottom: -1px;
  padding: 10px;
  padding-bottom: 5px;
}

/* hotfix to align with svg */
.charts > div > div {
  height: 180px; /* width = 300, ratio = 0.6 */
  margin-bottom: 7px;
  overflow: hidden;
  text-align: left; /* for chart */
}

#section3 .chart,
#section3 svg {
  cursor: pointer;
}

/* hotfix for card layout */
#section3 svg {
  width: 100% !important;
  height: 100% !important;
  margin-top: 0 !important;
  margin-bottom: 5px;
  box-sizing: border-box;
}
#section3 #plotDot svg,
#section3 #plotScatter svg {
  margin-left: -3px;
  margin-bottom: 3px;
}
#section3 #lineConti svg,
#section3 #lineDiscrete svg {
  margin-left: -1px;
  margin-bottom: 4px;
}
