.charts > div {
  text-align: center;
  width: calc(320px - 20px);
  border: 1px solid #dcdcdc;
  display: inline-block;
  margin-right: -1px;
  margin-bottom: -1px;
  padding: 10px;
  padding-bottom: 5px;
  cursor: pointer;
}
.charts > div > div {
  /* hotfix to align with svg */
  margin-bottom: 14px;
  height: calc(300px * 0.6 - 10px);
  overflow: hidden;
}

/*.chart,*/
svg {
  width: 100%; /*320px;*/
  max-width: 620px;
  text-align: left;
}

svg {
  height: calc(300px * 0.6);
}
