#section4 {
  min-height: calc(100vh - 300px);
}

.chart-edit,
.chart-edit svg {
  width: 320px;
  height: calc(320px * 0.6);
}

/* temp */
.headline {
  font-size: 20px;
  font-family: serif;
  font-weight: bold;
}
.standfirst {
  color: #bdbdbd;
  font-size: 16px;
  margin-bottom: 8px;
}
