#section4 {
  min-height: calc(100vh - 300px);
}

.chart-edit {
  margin: 16px 0;
  font-family: "Guardian Agate Sans 1 Web", monospace;
}
#section4 svg {
  width: 100%;
  height: 100%;
}
svg path {
  vector-effect: non-scaling-stroke;
}

/* TOTHINK: temp or not, sync with template */
.graph {
  color: #767676; /*n-2*/
  font-size: 13px;
  font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  /* temp */
  max-width: 620px;
}
.headline {
  color: black;
  font-size: 18px;
  font-family: 'Guardian Egyptian Web', Georgia, serif;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 12px;
}
.standfirst {
  font-size: 14px;
  margin-top: 12px;
  margin-bottom: 16px;
}
footer {
  font-size: 12px;
  line-height: 16px;
  margin-top: 8px;
  padding-top: 8px;
  border-top: 1px dotted #bdbdbd; /*n-3*/
}
footer > div {
  word-break: break-word;
}
