.charts > div {
  text-align: center;
  width: calc(320px - 20px);
  border: 1px solid #dcdcdc;
  display: inline-block;
  margin-right: -1px;
  margin-bottom: -1px;
  padding: 10px;
  padding-bottom: 5px;
  cursor: pointer;
}

/* chart */
.charts > div > div {
  /* hotfix to align with svg */
  height: calc(300px * 0.6);
  margin-bottom: 8px;
  overflow: hidden;
  text-align: left;
}

svg {
  height: calc(300px * 0.6);
  margin-bottom: 5px;
  padding: 1px;
  text-align: left;
}

.chart {
  padding: 1px;
}
