:root {
    --qablue: #156ca6;
    --qagrey: #808080;
    --qablack: #333;
  }

.questions {
    font-size: 14px;
}
.question-set {
    margin-top: 3rem;
    font-size: 1.35rem;
    font-weight: 600;
    color:#808080; 
    width:100%;
    max-width: none;
}
.question-group {
    font-size: .85rem;
    font-weight: bold;
    font-family: source-code-pro, monospace;
    width:100%;
    max-width: none;
}

/* override material-ui styles */
#section3 .MuiInputBase-input,
.questions .MuiFormLabel-root,
.questions .MuiInputBase-input,
.questions .MuiTypography-body1,
.MuiPaper-root .MuiMenuItem-root {
    color: var(--qablack);
    font-size: 1.125rem;
    font-family: source-sans-pro, Helvetica, Arial, sans-serif;
    transform: scale(1);
}
.questions .MuiInputBase-input {
    color: var(--qablue);
}

/* switch */
.questions .MuiSwitch-root {
    height: 28px;
    padding: 7px 12px;
}
.questions .MuiButtonBase-root {
    padding: 4px 10px;
}
.questions .MuiTouchRipple-root {
    left: 5px;
    width: 75%;
}
.questions .Mui-checked {
    color: var(--qablue) !important;
}
.questions .Mui-checked:hover {
    background-color: transparent !important; 
}
.questions .Mui-checked + .MuiSwitch-track {
    background-color: var(--qablue) !important;  
}

/* textfield */
.questions .MuiFormControl-root {
    /* width: 67%; */
    margin-top: 1rem;
}
.MuiInputLabel-formControl {
    font-weight: 600!important;

}
.questions .MuiFormLabel-root.Mui-focused {
    color: var(--qablue);  
}
.questions .MuiInput-underline:after {
    border-bottom: 2px solid var(--qablue);  
}
.questions .MuiInput-underline {
    width: 66%;
}
#section3 .MuiFormControl-root {
    width: 620px;
}
#section3 .MuiInput-underline,
#section3 .MuiInput-underline:before {
    border: 0;
    /* border: 2px solid transparent !important; */
}
#section3 .MuiInput-underline:after {
    border-bottom: 2px solid var(--qagrey);  
}

/* select and menu*/
.questions .MuiTypography-root {
    white-space: nowrap;
}
.questions .MuiSelect-root {
    padding-left: 16px;
    margin-bottom: -4px; 
}
.MuiPaper-root .MuiMenuItem-root {
    min-height: 28px
}