/* general setup */
#root {
  padding: 0 20px;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0;
  margin: 0 auto;
}
p {
  margin: 0 auto;
}
.f-app {
  font-size: 1rem;
  font-weight: normal;
}
.f-bar {
  font-family: source-sans-pro, Helvetica, Arial, sans-serif;
  color: #f1f1f1; /* n-5 */
  text-align: right;
  line-height: 16px;
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  cursor: text;
  box-sizing: border-box;
  vertical-align: top;
}
.f-bar:hover,
.f-bar:focus {
  outline: 0;
  border-bottom: 2px solid #333;
}

.section {
  margin: 90px auto 60px;
  max-width: 1284px;/*1024px;*/
  width: 100%;
  min-height: calc(100vh - 150px);
}
.section-full {
  margin-top: 80px;
  margin-bottom: 60px;
  max-width: 1284px;
  width: 100%;
  height: calc(100vh - 140px);
}
#section5 {
  min-height: 100px;
}

.l-section {
  /* layout like all sections */
  max-width: 1284px;/*1024px;*/
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.instruction {
  color: #333;
  font-family: source-sans-pro, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  padding-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 300;
}
.warning {
  color: #767676;
  font-family: source-code-pro, monospace;
  line-height: 15px;
  width: 304px !important;
  padding: 7px !important;  
}


/* buttons */
.button {
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--c-blue);
  min-width: 3rem;
  outline: 0;
  padding: 8px;
  cursor: pointer;
  color:white;
  border-radius: .3rem;
}
.btn-off {
  opacity: 0.25;
  cursor: not-allowed;
}
/* section 1 */
.btn-import {
  min-width: 10rem;
}
.btn-clear {
  background-color: #F0F0F0;
  border:1px solid #505050;
  color:#505050;
}
.btn-clear:hover { opacity: 1 }
/* section 2 */
.btn-create {
  min-width: 160px;
}

.test {
  font-size: 1rem;
  visibility: hidden;
  white-space: nowrap;
}
