/* general setup */
#root {
    padding: 0 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 1.75rem;
}
.f-app {
    font-size: 1rem;
    font-weight: normal;
}

.section {
    margin: 80px auto 60px;
    max-width: 1324px;/*1024px;*/
    width: 100%;
    min-height: calc(100vh - 140px);
}
.section-full {
    margin-top: 80px;
    margin-bottom: 60px;
    width: 100%;
    height: calc(100vh - 140px);
}

.l-section {
    /* layout like all sections */
    max-width: 1284px;/*1024px;*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.button {
    font-size: 14px;
    background-color: white;
    outline: 0;
    padding: 8px;
    border: 1px solid #333;
    cursor: pointer;
}

[contenteditable="true"] {
  min-width: 10px;
  border-bottom: 1px solid transparent;
}
[contenteditable="true"]:focus {
  outline: none;
  border-bottom: 1px solid transparent;
}
[contenteditable="true"]:hover {
  border-bottom: 1px dotted #333;
}
