
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


/* atomic css */
.d-n { display: none !important; }
.p-r { position: relative; }
.c-p { cursor: pointer; }
.o-0 { opacity: 0; }
.pe-n { pointer-events: none; }
.fw-n { font-weight: normal; }
.ws-n { white-space: nowrap; }
