@import url("https://use.typekit.net/vku3rtg.css");

/* variables */
:root {
  --c-blue: #156ca6;
  --c-grey: #808080;
  --c-black: #333;
}

/* atomic css */
.d-n { display: none !important; }
.d-f { display: flex; }
.j-c { justify-content: center; }
.p-r { position: relative; }
.c-p { cursor: pointer; }
.c-d { cursor: url('./assets/icon/colordrop.svg') 12 12, auto !important;}
.o-0 { opacity: 0; }
.o-disable {opacity: 0.25; }
.pe-n { pointer-events: none; }
.fw-n { font-weight: normal; }
.ws-n { white-space: nowrap; }
.ws-pl { white-space: pre-line; }
.mr-10 { margin-right: 10px; }
.ml-10 { margin-left: 10px; }
.mt-15 { margin-top: 15px; }
.mt-30 { margin-top: 30px; }
.mb-15 { margin-bottom: 15px; }
.mb-5  { margin-bottom: 1rem; }
.ff-ss   {font-family: source-sans-pro, Helvetica, Arial, sans-serif;}
.ff-data {font-family: source-code-pro, monospace;}

/* .d-if { display: inline-flex; } */
/* .va-b { vertical-align: bottom; } */
.f-18 { font-size: 18px; }
.pb-4 { padding-bottom: 4px;}
/* .pb-5 { padding-bottom: 6px; } */
/* .pb-13 { padding-bottom: 11px; } */
.as-fe { align-self: flex-end; }

/* index.css */
body {
  margin: 0;
  padding: 0;
  font-family: source-sans-pro, Helvetica, Arial, sans-serif;
  background-color:#F0F0F0;
}