/* font */
/* @import url("https://use.typekit.net/vku3rtg.css"); */
@font-face {
  font-family:"source-sans-pro";
  src:url("https://use.typekit.net/af/be76d4/00000000000000003b9b3129/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/be76d4/00000000000000003b9b3129/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/be76d4/00000000000000003b9b3129/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:400;
}
@font-face {
  font-family:"source-sans-pro";
  src:url("https://use.typekit.net/af/de34bd/00000000000000003b9b312d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/de34bd/00000000000000003b9b312d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/de34bd/00000000000000003b9b312d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:700;
}
@font-face {
  font-family:"source-serif-pro";
  src:url("https://use.typekit.net/af/aa546d/00000000000000003b9b3a87/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/aa546d/00000000000000003b9b3a87/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/aa546d/00000000000000003b9b3a87/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:400;
}

/* variables */
:root {
  --c-blue: #156ca6;
  --c-grey: #808080;
  --c-black: #333;
}

/* atomic css */
.d-n { display: none !important; }
.d-f { display: flex; }
.j-c { justify-content: center; }
.p-r { position: relative; }
.c-p { cursor: pointer; }
.c-d { cursor: url('./assets/icon/colordrop.svg') 12 12, auto !important;}
.o-0 { opacity: 0; }
.o-disable {opacity: 0.25; }
.pe-n { pointer-events: none; }
.fw-n { font-weight: normal; }
.ws-n { white-space: nowrap; }
.ws-pl { white-space: pre-line; }
.mr-10 { margin-right: 10px; }
.mt-15 { margin-top: 15px; }
.mt-30 { margin-top: 30px; }
.mb-15 { margin-bottom: 15px; }
.mb-5  { margin-bottom: 1rem; }
.ff-ss   {font-family: source-sans-pro, Helvetica, Arial, sans-serif;}
.ff-data {font-family: source-code-pro, monospace;}
.f-18 { font-size: 18px; }

/* index.css */
body {
  margin: 0;
  padding: 0;
  font-family: source-sans-pro, Helvetica, Arial, sans-serif;
  background-color:#F0F0F0;
}